body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  color: #404040;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.page_container {
  min-height: 75vh;
  padding-top: 85px;
}
